<div class="mt-5">
  
    <form action="/users/resetPassword" method="POST" class="m-auto border p-4">
      <h1 class="text-center">Reset Password</h1>
      <%- include('./partials/messages')%>  
      <div class="form-group mt-4">
        <label for="forget-password">Enter Email</label>
        <input type="email" id="forget-password" name="email" class="form-control" placeholder="Enter Email"/>
      </div>
      <div class="d-block">
        <button type="submit" class="btn btn-info w-100"style="background-color: #1877f2;">Reset</button>
      </div>
  
    </form>
  </div>