<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1><i class="fa fa-car"></i></h1>
        <p>Create an account or login</p>
        <a href="/users/register" class="btn btn-secondary btn-block mb-2" style="background-color: #1877f2;">REGISTER</a
        >
        <a href="/users/login" class="btn btn-secondary btn-block" style="background-color: #1877f2;">LOGIN</a>
      </div>
    </div>
  </div>